<meta charset="utf-8" />
<title>
    <%= siteTitle %>
</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta http-equiv="x-dns-prefetch-control" content="on">
<link rel="dns-prefetch" href="<%= themeConfig.domain %>">
<link rel="dns-prefetch" href="https://cdn.bootcss.com">
<meta name="author" content="<%= site.customConfig.author%>">
<meta name="description" content="<%= site.customConfig.description%>">
<meta name="keywords" content="<%= site.customConfig.keywords%>">
<link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/style.css" />
<link rel="stylesheet" href="<%= themeConfig.domain %>/styles/main.css" />
<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
<script src="<%= themeConfig.domain %>/media/script/tocbot.min.js"></script>
<script src="<%= themeConfig.domain %>/media/script/script.js"></script>
<script src="<%= themeConfig.domain %>/media/script/icon.js"></script>
<!--<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>-->
<script src="https://cdn.bootcss.com/highlight.js/9.13.1/highlight.min.js"></script>
<link href="https://cdn.bootcss.com/highlight.js/9.13.1/styles/atelier-estuary-dark.min.css" rel="stylesheet">
<% if (site.customConfig.ga) { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= site.customConfig.ga %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', '<%= site.customConfig.ga %>');
    </script>
    <% } %>