<script type="application/javascript" src="//unpkg.com/valine@latest/dist/Valine.min.js"></script>
<div id="vlaine-comment"></div>
<script type="application/javascript">
    new Valine({
        el: '#vlaine-comment',
        appId: '<%= site.customConfig.valineAppId %>',
        appKey: '<%= site.customConfig.valineAppKey %>',
        pageSize: <%= site.customConfig.valinePageSize %>,
        avatar: '<%= site.customConfig.valineAvatar %>',
        placeholder: '<%= site.customConfig.valinePlaceholder %>',
        visitor: <%= site.customConfig.valineVisitor %>,
        highlight: <%= site.customConfig.valineHighlight %>,
        recordIP: <%= site.customConfig.valineRecordIp %>,
    })
</script>