<!DOCTYPE html>
<html>

<head>
    <%- include('./include/head', { siteTitle: themeConfig.siteName }) %>
</head>

<body>
    <div class="wrapper">
        <%- include('./include/header') %>
            <div class="main">
                <div class="container">
                    <div class="post-wrap tags">
                        <% site.tags.forEach(function(tag) { %>
                            <a href="<%= tag.link%>">
                                <p class="post-title">
                                    <i class="fa fa-tags" aria-hidden="true"> <%= tag.name %></i>
                                </p>
                            </a>
                            <% }); %>
                    </div>
                </div>
            </div>
    </div>
    <%- include('./include/footer') %>
        </div>
</body>

</html>